.site-btn {
  padding: 8px 16px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  border-radius: 12px !important;
  text-transform: capitalize !important;
  color: var(--500-Primary, #1464c0) !important;
  background-color: var(--primarys-variants-100, #ddebfb) !important;
}
