

 .list__items {
   tr {
    margin-top: 20px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 150px;
    td {
      margin-top: 20px;
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      width: 150px;
  
     }
   }
 }